* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    min-width: 250px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    padding: 20px;
    display: flex;
    color: #fff;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-content: center;
    border-right: 1px solid #e5e7eb;
}

.sidebar h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.sidebar p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.sidebar nav ul {
    list-style-type: none;
    font-size: 1.5rem;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    height: 40px; 
    align-items: center;
}


.sidebar nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar nav ul li.active a {
    background-color: #e5e7eb; /* Light gray background for active item */
    color: #333; /* Dark text color for active item */
    padding: 10px; /* Extra padding for active item */
    border-radius: 8px; /* Rounded corners */
}

.new-course-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 150px;
    font-size: 1.5rem;
    
}

.new-course-btn:hover {
    background-color: #0056b3;
}

.settings {
    margin-top: 90px;
}

.settings a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
}

.content {
    flex: 1;
    padding: 40px;
    width:1000px;
}
/* image */
/* need update from here */
.header-image {
    /* background-repeat: no-repeat;

    background-size: cover;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    overflow: hidden;
    /* justify-content: flex-end; */
    /* flex-direction: column;
    width: 100%;
    height: 218px;
    min-height: 218px;
    display: flex; */ 
    height: 218px;
    min-width: 318px;
    max-width: 1010px;
    width: 100%;
    object-fit: none;
    border-radius: 1.5rem;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.w-full {
    width: 100%;
    min-height: 218px;
    display: flex;

}

.content h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
    margin-top: 15px;
}

.content h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
}

table th {
    background-color: #f4f7fb;
    color: #5c6b73;
}

table td a {
    color: #007bff;
    text-decoration: none;
}

table td a:hover {
    text-decoration: underline;
}

.start-quiz-btn {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: block;
}

.start-quiz-btn:hover {
    background-color: #0056b3;
}

.nav-buttons {
    border:#0056b3;
}